.main-footer {
  margin: auto;
  max-width: 1280px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}
.mn-ft-wp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1280px;
  min-width: 300px;
  width: 80%;
  margin: auto;
}
.call-item p {
  height: 50px;
  font-size: 17px;
  color: #c8c8c8;
  text-align: left;
}
.footer-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-footer ul {
  list-style: none;
}
.main-footer ul li {
  line-height: 2rem;
}
.main-footer ul li a {
  color: #c8c8c8;
}
.default-ltr {
  color: #c8c8c8;
  text-align: left;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .main-footer .footer-items {
    display: block;
    & ul {
      width: 250px;
      margin: 25px auto;
    }
    & a{
      line-height: 2rem;
    }
  }
}
