/* ----Card CSS---- */

.card {
  display: inline-block;
  width: 240px;
  padding: 20px 10px;
  box-shadow: 0 0 20px #ffffff;
  transition: transform 0.4s;
  border-radius: 15px;
  margin: 20px 50px;
}
.card:hover {
  transform: scale(1.08);
}
img {
  display: block;
  margin: auto;
  height: 200px;
}
p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
.card-btn {
  display: block;
  border: none;
  font-weight: 900;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.card-btn:hover {
  background-color: rgba(255, 0, 0, 0.799);
}
