.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  min-width: 200px;
  width: 100%;
  margin: 40px auto;
}
.login-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-width: 200px;
  width: 100%;
  margin: 10px auto;
  height: auto;
}
.signup #email {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 0 10px;
  color: #ffffff;
  width: 350px;
  height: 50px;
  z-index: 1;
}
.signup #email::placeholder {
  color: #ffffff;
  font-size: 15px;
}
.ready {
  z-index: 1;
  margin-top: 20px;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  margin: 0 10px;
}
.signup .get-started {
  width: 200px;
  background-color: red;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 5px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.signup .get-started:hover {
  background-color: rgb(222, 0, 0);
  transition-duration: 0.7s;
}

@media screen and (max-width: 600px) {
  .login-main {
    display: block;
    width: 100%;
  }
  .ready {
    font-size: 1rem;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    line-height: 1rem;
    text-align: center;
    color: #ffffff;
  }
  .signup #email {
    display: block;
    font-size: 16px;
    padding: 0 5px;
    height: 40px;
    width: 250px;
    margin: auto;
  }
  .signup .get-started {
    display: block;
    font-weight: normal;
    font-size: 16px;
    width: 150px;
  }
}
